gunicorn
certifi==2022.9.24
click
colorama
contourpy
cycler
Flask
fonttools
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
munkres==1.1.4
numpy
packaging
pandas==1.5.0
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy==1.9.1
six
threadpoolctl
tornado
tqdm
unicodedata2
Werkzeug
zipp
